# Dependencies
node_modules

# Deployment
.env*
!.env.example

# IDE
.vscode
*.code-workspace

# Linter
.eslintcache

# Logging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
notes.txt

# MacOS
.DS_Store

# Production
build
